Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

Ans-

MongoDB  is a popular NoSQL databases management system. Unlike traditional relational databases , mongoDB stores data in a flexible , schema less format known as binary json 

Non-relational databses ,often refered to as NoSQL databses are a type of databses management system that doesn't rely on traditional tabular, relational structure used in SQL databases . They offer more flexiblity in terms of data models ans can handle unstructure or semi structre data more effectively, Non-relational databases are designed to accommodate the nees of modern appliction which may require scalabilty , flexiblity and fast data retrieval 

choosing between MongoDB ans SQL databases depends on the specific needs of application 

SQL databses are great choice for application that require ACID (Atomicity, Consistency, Isolation, Durability  compliances snd data stucture is well - defined  and not channge frequenrly 

MongoDB is best suited for sceneriod where we need flecxiblity , scalablity  and ablity to work with diverse evolving data stucture

Q2. State and Explain the features of MongoDB?

Ans - MongoDB is popular choice for wide range fo application, from content management systems and e-commerce platforms to real-time analytics and Internet of Things (IoT) solutions. However, it's essential to carefully assess your project's specific requirements and consider the trade-offs of using MongoDB in comparison to other database systems.
MongoDB store data in JSON like document. Horizontaly scalable for data volume and thoughput and fast read and write operation with indexing

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [8]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://AYUSHDETAIL:AYUSHDETAIL@cluster0.fkgkqqe.mongodb.net/?retryWrites=true&w=majority")
dc = client.test

In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.5.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (671 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 671.3/671.3 kB 43.1 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.4/300.4 kB 33.7 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.5.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
dc

Database(MongoClient(host=['ac-vynbdhv-shard-00-00.fkgkqqe.mongodb.net:27017', 'ac-vynbdhv-shard-00-02.fkgkqqe.mongodb.net:27017', 'ac-vynbdhv-shard-00-01.fkgkqqe.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-rhuzzb-shard-0', tls=True), 'test')

In [9]:
data = {"NAME" : "AYUSH" ,
        "COURSE NAME" : "DATA SCIENCE MASTER HINDI" ,
        "COURSE PRICE" : 3500 ,
        "MAIL ID" : "royayush98765z@gmail.com"}

In [10]:
coll_ayush = dc['my course detail']

In [11]:
coll_ayush.insert_one(data)

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

Ans

In [12]:
data1 = { "joining date" : "01 sep 2023" }

In [13]:
coll_ayush.insert_one(data1)

In [14]:
data2 = [{"NAME" : "Ram" , "COURSE NAME" : "DATA SCIENCE MASTER HINDI" ,"COURSE PRICE" : 3500 , "MAIL ID" : "ram98765z@gmail.com"} ,
         {"NAME" : "shyam" , "COURSE NAME" : "DATA SCIENCE MASTER HINDI" ,"COURSE PRICE" : 3500 , "MAIL ID" : "shyam98765z@gmail.com"} ,
         {"NAME" : "Rahul" , "COURSE NAME" : "DATA SCIENCE MASTER HINDI" ,"COURSE PRICE" : 3500 , "MAIL ID" : "rahul98765z@gmail.com"} ,
         {"NAME" : "pawan" , "COURSE NAME" : "DATA SCIENCE MASTER HINDI" ,"COURSE PRICE" : 3500 , "MAIL ID" : "pawan98765z@gmail.com"} ,
         {"NAME" : "khalnayak" , "COURSE NAME" : "DATA SCIENCE MASTER HINDI" ,"COURSE PRICE" : 3500 , "MAIL ID" : "khalnayak98765z@gmail.com"}
]

In [15]:
coll_ayush.insert_many(data2)

In [16]:
coll_ayush.find_one(data1)

{'_id': ObjectId('6531720014ab8e022d00ae9a'), 'joining date': '01 sep 2023'}

In [17]:
for i in coll_ayush.find():
    print(i)

{'_id': ObjectId('65316c1914ab8e022d00ae99'), 'NAME': 'AYUSH', 'COURSE NAME': 'DATA SCIENCE MASTER HINDI', 'COURSE PRICE': 3500, 'MAIL ID': 'royayush98765z@gmail.com'}
{'_id': ObjectId('6531720014ab8e022d00ae9a'), 'joining date': '01 sep 2023'}
{'_id': ObjectId('6531739b14ab8e022d00ae9b'), 'NAME': 'Ram', 'COURSE NAME': 'DATA SCIENCE MASTER HINDI', 'COURSE PRICE': 3500, 'MAIL ID': 'ram98765z@gmail.com'}
{'_id': ObjectId('6531739b14ab8e022d00ae9c'), 'NAME': 'shyam', 'COURSE NAME': 'DATA SCIENCE MASTER HINDI', 'COURSE PRICE': 3500, 'MAIL ID': 'shyam98765z@gmail.com'}
{'_id': ObjectId('6531739b14ab8e022d00ae9d'), 'NAME': 'Rahul', 'COURSE NAME': 'DATA SCIENCE MASTER HINDI', 'COURSE PRICE': 3500, 'MAIL ID': 'rahul98765z@gmail.com'}
{'_id': ObjectId('6531739b14ab8e022d00ae9e'), 'NAME': 'pawan', 'COURSE NAME': 'DATA SCIENCE MASTER HINDI', 'COURSE PRICE': 3500, 'MAIL ID': 'pawan98765z@gmail.com'}
{'_id': ObjectId('6531739b14ab8e022d00ae9f'), 'NAME': 'khalnayak', 'COURSE NAME': 'DATA SCIENCE MASTER HINDI', 'COURSE PRICE': 3500, 'MAIL ID': 'khalnayak98765z@gmail.com'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this ?

In [18]:
for i in coll_ayush.find({'NAME': 'khalnayak'}) :
    print(i)

{'_id': ObjectId('6531739b14ab8e022d00ae9f'), 'NAME': 'khalnayak', 'COURSE NAME': 'DATA SCIENCE MASTER HINDI', 'COURSE PRICE': 3500, 'MAIL ID': 'khalnayak98765z@gmail.com'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.?

In [23]:
client = pymongo.MongoClient("mongodb+srv://AYUSHDETAIL:AYUSHDETAIL@cluster0.fkgkqqe.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [25]:
db = client['mydatabase']
coll_ayush = db['student']

In [26]:
coll_ayush.insert_many([
    {"id" : 1 , "name" : "ayush" , "age" : 20} ,
    {"id" : 2 , "name" : "ram" , "age" : 25} ,
     {"id" : 3 , "name" : "khalnayak" , "age" : 30} ,
     {"id" : 4 , "name" : "shyam" , "age" : 21}
])

In [27]:
ascending_result = coll_ayush.find().sort("age",1)
print("ASCENDING ORDER :")
for doc in ascending_result:
    print(doc)

ASCENDING ORDER :
{'_id': ObjectId('653178f014ab8e022d00aea4'), 'id': 1, 'name': 'ayush', 'age': 20}
{'_id': ObjectId('653178f014ab8e022d00aea7'), 'id': 4, 'name': 'shyam', 'age': 21}
{'_id': ObjectId('653178f014ab8e022d00aea5'), 'id': 2, 'name': 'ram', 'age': 25}
{'_id': ObjectId('653178f014ab8e022d00aea6'), 'id': 3, 'name': 'khalnayak', 'age': 30}

In [29]:
descending_result = coll_ayush.find().sort("age" ,-1)
print("DESCENDING ORDER:")
for doc in descending_result:
                                           print(doc)

DESCENDING ORDER:
{'_id': ObjectId('653178f014ab8e022d00aea6'), 'id': 3, 'name': 'khalnayak', 'age': 30}
{'_id': ObjectId('653178f014ab8e022d00aea5'), 'id': 2, 'name': 'ram', 'age': 25}
{'_id': ObjectId('653178f014ab8e022d00aea7'), 'id': 4, 'name': 'shyam', 'age': 21}
{'_id': ObjectId('653178f014ab8e022d00aea4'), 'id': 1, 'name': 'ayush', 'age': 20}

Q7. Explain why delete_one(), delete_many(), and drop() is used

Ans 
DELETE ONE(): It is used to delete one document that match a specified filter. It deletes

the first document that matches the filter.

DELETE MANYO - It is used to delete many documents that match the filter

DROP(): It is used to delete an entire collection from a database. This method is useful when you want to completely remove a collection and all of its data from your database.